p {
    padding: 5px;
    width: 200px;
}
.p-class-style {
    background-color: red;
}
#p-id-style{
    background-color: grey;
    text-transform: uppercase;
}
.p-class-style {
    color: yellow;
    padding: 20px;
}
p{
    background-color: red;
}